<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>父子组件传值</title>
    <script type="text/javascript" src="../assert/js/vue.js"></script>
</head>
<body>
    <div id="root">
        <input type="text"  v-model="todoValue"/>
        <button @click="handleBtnClick">提交</button>
        <ul>
                <todo-item :content="item" :index="index" v-for="(item,index) in todoList" @delete="handlItemDelete"> </todo-item>
         </ul>
    </div>
    
    <script>
    var TodoItem={
        props:["content","index"],
        template:'<li @click="handleItemClick">{{content}}</li>',
        methods:{
            handleItemClick(){
                this.$emit("delete",this.index)
            } 
        }
    }
    var app=new Vue({
        el:'#root',
        components:{
            TodoItem
        },
        data:{
            todoList:[],
            todoValue:''
        },
        methods:{
            handleBtnClick(){
                this.todoList.push(this.todoValue);
                this.todoValue="";
                
            },
            handlItemDelete(index){
                this.todoList.splice(index,1)
                
            }
        }
    })
    </script>
</body>
</html>